<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="settings.css">
    <link rel="stylesheet" href="../../assets/css/reset-2.0.css">
  </head>
  <body>
    <form id='form_settings'>
      <h3>Settings</h3>

      <fieldset>
        <label>
          Find appointment in the next <input class='input small' type='number' name='days' />.
        </label>
      </fieldset>

      <button type='submit'>Save</button>
    </form>

    <script src="../../assets/js/jquery-3.6.1-pre.min.js"></script>
    <script src="../../assets/js/lodash-1.8.3.min.js"></script>
    <script src="settings.js"></script>
  </body>
</html>
